*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    display: table;
    width: 100%;
}
.pros{
    display: table-cell;
    width: 50%;
    margin-bottom: 15px;
    position: relative;
}
.cons{
    display: table-cell;
    width: 50%;
    margin-bottom: 15px;
    position: relative;
}
.pros strong{
    background-color: #00bf08;
    color: #fff;
    padding: 5px 15px 5px;
    margin: 0px;
    font-size: 22px;
    display: block;
}
.cons strong{
    background-color: #bf000a;
    color: #fff;
    padding: 5px 15px 5px;
    margin: 0px;
    font-size: 22px;
    display: block;
}
.pros_list{
    padding-bottom: 15px;
    padding-top: 5px;
}
.Cons_list{
    padding-bottom: 15px;
    padding-top: 5px;
}
.pros_list ul{
    margin: 0;
    padding: 0;
    padding-right: 15px;
    list-style: outside none none !important;
}
.Cons_list ul{
    margin: 0;
    padding: 0;
    padding-right: 15px;
    list-style: outside none none !important;
}
.pros_list ul li{
    padding-left: 30px;
    list-style: outside none none !important;
    position: relative;
}
.Cons_list ul li{
    padding-left: 30px;
    list-style: outside none none !important;
    position: relative;
}
.pros_list ul li i{
    position: absolute;
    left: 5px;
    top: 8px;
    font-size: 80%;
    color: #00bf08!important;
}
.Cons_list ul li i{
    position: absolute;
    left: 5px;
    top: 8px;
    font-size: 80%;
    color: #bf000a!important;
}